.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
.sidenav {
  height: 100vh;
  background-color: rgb(15, 207, 233);
}

.sidenav img {
  clip-path: circle();
}

/* Dashboard starts */

.dash {
  padding: 2%;
  height: 100vh;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.maindata {
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
}
.getdat {
  border: 2px solid #db1b1b;
}

.getdat img {
  height: 200px;
}

.productdata {
  height: 400px;
  width: 250px;
  padding: 2%;
  border: 2px solid #111111;
}

.productdata img {
  height: 200px;
  width: 100%;
}
.Earbuds{
  height: 400px;
  width: 250px;
  padding: 2%;
  border: 2px solid #111111;
}
.Earbuds img{
  height: 200px;
  width: 100%; 
}

